# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntellJ
.idea

# File
golang
go-todo-rest-api-cassandra
k8s/todo-api/requirements.lock
k8s/todo-api/charts/
